* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header styles*/
.slider-wrapper {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.show-slide {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 30%;
  left: 60%;

  color: #000;
  text-align: left;
}

.overlay h2 {
  font-size: 24px;
}

.overlay h1 {
  font-size: 32px;
  font-weight: bold;
}

.overlay p {
  font-size: 18px;
  margin: 10px 0;
}

.social-icons {
  margin: 15px 0;
}

.social-icons a {
  margin-right: 10px;
  display: inline-block;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.clients {
  color: red;
  font-weight: bold;
}
.branding {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  font-family: Arial, sans-serif;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.about {
  font-size: 24px;
  font-weight: bold;
  color: black;
  position: absolute;
  right: 30px;
  top: 10px;
}

.about span {
  font-size: 18px;
  color: gray;
}
/*Section 1 styles*/

.skills {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
}

.skill {
  margin-bottom: 15px;
}

.skill p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  width: 0;
  height: 100%;
  background: red;
  border-radius: 5px;
  transition: width 1.5s ease-in-out;
}
.section-container {
  padding: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
}
.portrait {
  max-width: 300px;
}
.box-1 {
  padding-top: 60px;
  max-width: 350px;
  text-align: right;
}
.numb {
  margin-left: 10px;
  color: #e93656;
}
.box-3 {
  padding-top: 40px;
  color: #555555;
}
.hire-butt {
  font-size: 15px;
  padding: 15px 45px;
  color: white;
  background-color: #e93656;
  border: none;
  margin-top: 80px;
  cursor: pointer;
}
.ux-p {
  margin: 10px;
  color: #daae19;
}
.grey {
  color: #555555;
}
.icons-container {
  margin-top: 100px;
  display: flex;
}
.ic-2 {
  margin-left: 10px;
}
.ic-2:hover {
  background-color: #15263e;
}
.ic-3 {
  max-width: 55px;
  padding: 12px;
  transition: filter 0.2s ease-in-out;
}
.ic-3:hover {
  filter: invert(200%) brightness(100);
}
/* section-3 styles */
.contact-container {
  margin-top: 20px;
  padding: 30px;
  color: #ffffff;
  background-color: #131a36;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.info {
  display: flex;
  gap: 20px;
}
.info-icon {
  max-width: 70px;
  padding: 0 14px;
  border-radius: 70px;
  border-style: dashed;
  border-width: 1px;
  transition: filter 0.1s ease-in-out;
}
.info-icon:hover {
  background-color: #e93656;
  border: none;
}
.info-p {
  padding: 10px;
  padding-left: 0;
  font-size: 12px;
  color: #dfdfdf;
}
/* section 3 styles */
.services {
  margin-top: 120px;
  max-width: fit-content;
}
.service-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.im-logo {
  max-width: 50px;
  margin-bottom: 10px;
}

.box-inner {
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.box-front,
.box-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  align-content: center;
}

.box-back {
  color: #ffffff;
  background: #15263e;
  transform: rotateY(180deg);
}
.box {
  text-align: center;
  background-color: #f1f1f1;
  align-content: center;
  max-width: 200px;
  height: 250px;
  width: 180px;
}
.box:hover .box-inner {
  transform: rotateY(180deg);
}
.bg-text {
  padding: 20px;
  font-size: 11px;
}
